<h1>Форма</h1>
<form action="/feedback/" method="post">
    {% csrf_token %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {%for field in form%}
        <div>  
            {{ field.label }} {{field}}
            {{field.help_text}}
        </div>
    {%endfor%}
    <button type="submit">Отправить</button>
</form>