[flake8]
max-line-length = 79
exclude = venv,.gitignore,readme.md,.env,requirements.txt, */migrations/
import-order-style = google
application-import-names = about, catalog, homepage, lyceum
inline-quotes = double
enable-extensions = B,B902,N