# Прочитал твой комментарий, по первой ссылке в google 
# https://github.com/github/gitignore/blob/main/Python.gitignore
# грамадина с кучей лишнего, вряд ли это хорошая практика пихать ее сюда
# поэтому оставил как есть, так как не понял, как это поменять в лучшую сторону
# Единственное, что из того шаблона название к разделам взял.

# Environments
.env
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
*.log
*.pot

# IDE
.idea/
.vscode/

# Django stuff:
*.sqlite3
db.sqlite3

#MacOs
.DS_Store
