{%extends "base.html"%}
{%block content%}
<h1>Изменение пароля</h1>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        {{ error|escape }}
    {% endfor %}
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
                <span>*</span> 
            {% endif %}
        </label>
        <br>
        {{ field }} 
        <br>
        {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help">
                {{ field.help_text|safe }}
            </small>
            <br>
        {% endif %}
        
    {% endfor %}
    <br>
  <button type="submit", style="background-color: #04AA6D">Изменить мой пароль</button>
</html>
{%endblock%}