<!DOCTYPE html>
<html>
<head>
    <title>Мой профиль</title>
</head>
<body>
    <h1>Мой профиль</h1>

    {% if user_form.errors or profile_form.errors %}
        <div class="errors">
            <ul>
                {% for field in user_form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for field in profile_form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Данные пользователя</legend>
            {% for field in user_form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>Данные профиля</legend>
            <div>
                <label for="{{ profile_form.birthday.id_for_label }}">{{ profile_form.birthday.label }}:</label>
                {{ profile_form.birthday }}
                {% if profile_form.birthday.help_text %}
                    <small>{{ profile_form.birthday.help_text }}</small>
                {% endif %}
            </div>
            <!-- Вы можете также явно указать другие поля -->
            <div>
                <label for="{{ profile_form.mail.id_for_label }}">{{ profile_form.mail.label }}:</label>
                {{ profile_form.mail }}
                {% if profile_form.mail.help_text %}
                    <small>{{ profile_form.mail.help_text }}</small>
                {% endif %}
            </div>
            <div>
                <label for="{{ profile_form.image.id_for_label }}">{{ profile_form.image.label }}:</label>
                {{ profile_form.image }}
                {% if profile_form.image.help_text %}
                    <small>{{ profile_form.image.help_text }}</small>
                {% endif %}
            </div>
        </fieldset>

        <button type="submit">Сохранить изменения</button>
    </form>
    
    <form method="post" action="{% url 'homepage:coffee' %}">
        {% csrf_token %}
        <div>
            <text>Количество выпитых чашек: {{coffee_count}} </text>
            <button type="submit">Выпить еще кофе</button>
        </div>
        
    </form>
</body>
</html>