<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <title>
      {% block title %}
        Название
      {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon/favicon.svg' %}">
    <link rel="icon" type="image/ico" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/webmanifest" href="{% static 'images/favicon/site.webmanifest' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    {% include 'includes/header.html' %}
    <main class="pt-5 my-5">
      {% block content %}
      <h1>Главная</h1>
        Контент не подвезли :( тут можно просить картинку енотика
        <a href="{% url 'catalog:item_detail' 0 %}">
          <img src="{% static 'images/picture.png' %}" class="img-fluid" alt="Описание картинки" />
        </a>
      {% endblock %}
    </main>
    {% include 'includes/footer.html' %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
