{% load static %}
<div class="card mb-4 shadow-sm" style="max-width: 400px;">
    <!-- Изображение товара -->
    <img src="{% static 'images/picture.png' %}" class="card-img-top" alt="Пример товара" />
  
    <div class="card-body">
      <h5 class="card-title">Название товара</h5>
      <p class="card-text">Это описание товара, которое дает краткую информацию о нем. Подходит для любого товара и помогает пользователю понять его основные особенности.</p>
  
      <h6 class="card-subtitle text-muted mb-2">Категория: Электроника</h6>
      
      <!-- Теги товара -->
      <div class="mt-3">
        <strong>Теги:</strong>
        <p class="card-text">#Тег1</p>
      </div>

    </div>
  </div>
  