{% load static %}
<div class="card mb-4 shadow-sm" style="max-width: 400px;">
    <!-- Изображение товара -->
    <a href={% url "catalog:item_detail" item.id %}>
        <img src="{{ item.main_image.image.url }}" class="card-img-top" alt="Пример товара" />
    </a>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.text | truncatewords_html:10 | safe}}</p>
  
      <h6 class="card-subtitle text-muted mb-2">Категория: {{item.category.name}}</h6>
      
      <!-- Теги товара -->
      <div class="mt-3">
        <strong>Теги:</strong>
        {% for tag in item.tags.all%}
            <p class="card-text">#{{tag.name}}</p>
        {%endfor%}
       
      </div>

    </div>
</div>
  